@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

header {
    font-family: 'PT Sans', sans-serif;
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 1;
}

header a {
    text-decoration: none;
}

.siteHeader__wrapper {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav__wrapper,
.nav__title,
.nav__ul,
.nav__userContainer {
    display: flex;
}

.nav__wrapper {
    align-items: center;
}

.nav__title {
    font-weight: 700;
    font-size: 30px;
}

.nav__title.first {
    color: #d16ba5;
    display: inline-block;
}
.nav__title.second {
    color: #aa8fd8;
    display: inline-block;
}
.nav__title.third {
    color: #46eefa;
    display: inline-block;
}

/* Navigation links styles */
.nav__ul {
    gap: 40px;
}

.nav__ul li a {
    font-size: 18px;
    color: rgb(119, 118, 118)
}


/*  */
#lang-picker-select {
    border: none;
    user-select: none;
}


#user {
    /* display: none; */
}

#guest {
    display: none;
    
}