<div class="app">
    <div class="tasks__container">
        <!-- <div class="tasks__header">
                        <h1>TASKS</h1>
                
                    </div> -->

        <div class="tasks__opened wrapper">

            <div class="tasks__section__header">
                <h2>Opened</h2>
                <span class="tsh__tasks-counter">4 tasks</span>
                <img src="./images/show-more-button-with-three-dots.png" class="tasks__section__header__smb">
            </div>

            <div class="tasks__opened__container">

                <!-- TASKS -->
                <div class="task">
                    <div class="task__header">
                        <div class="task__name">ReactJS Course</div>
                        <img src="./images/show-more-button-with-three-dots.png" alt="show more btn" class="task__smb">
                    </div>
                    <div class="task__description">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus omnis illum
                            nesciunt corporis doloremque tenetur, saepe fuga odio quaerat cupiditate iure id
                            dolor. Earum ad maxime, sapiente rem odit nam!</p>
                    </div>

                    <div class="task__footer">
                        <div class="date__container">
                            <img src="./images/timetable.png" class="date__img">
                            <span class="task__date">25.10.2022</span>
                        </div>
                        <div class="task__priority high">Medium</div>
                    </div>
                </div>


                <div class="task">
                    <div class="task__header">
                        <div class="task__name">ReactJS Course</div>
                        <img src="./images/show-more-button-with-three-dots.png" alt="show more btn" class="task__smb">
                    </div>
                    <div class="task__description">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus omnis illum
                            nesciunt corporis doloremque tenetur, saepe fuga odio quaerat cupiditate iure id
                            dolor. Earum ad maxime, sapiente rem odit nam!</p>
                    </div>

                    <div class="task__footer">
                        <div class="date__container">
                            <img src="./images/timetable.png" class="date__img">
                            <span class="task__date">25.10.2022</span>
                        </div>
                        <div class="task__priority high">Medium</div>
                    </div>
                </div>

            </div>
        </div>

        <div class="tasks__inprogress wrapper">

            <div class="tasks__section__header">
                <h2>In Progress</h2>
                <span class="tsh__tasks-counter">4 tasks</span>
                <img src="./images/show-more-button-with-three-dots.png" class="tasks__section__header__smb">
            </div>

            <div class="tasks__opened__container">

                <!-- TASKS -->

                <div class="task">
                    <div class="task__header">
                        <div class="task__name">ReactJS Course</div>
                        <img src="./images/show-more-button-with-three-dots.png" alt="show more btn" class="task__smb">
                    </div>
                    <div class="task__description">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus omnis illum
                            nesciunt corporis doloremque tenetur, saepe fuga odio quaerat cupiditate iure id
                            dolor. Earum ad maxime, sapiente rem odit nam!</p>
                    </div>

                    <div class="task__footer">
                        <div class="date__container">
                            <img src="./images/timetable.png" class="date__img">
                            <span class="task__date">25.10.2022</span>
                        </div>
                        <div class="task__priority high">Medium</div>
                    </div>
                </div>

            </div>

        </div>

        <div class="tasks__closed wrapper">

            <div class="tasks__section__header">
                <h2>Closed</h2>
                <span class="tsh__tasks-counter">4 tasks</span>
                <img src="./images/show-more-button-with-three-dots.png" class="tasks__section__header__smb">
            </div>

            <div class="tasks__opened__container">

                <!-- TASKS -->
                <div class="task">
                    <div class="task__header">
                        <div class="task__name">ReactJS Course</div>
                        <img src="./images/show-more-button-with-three-dots.png" alt="show more btn" class="task__smb">
                    </div>
                    <div class="task__description">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus omnis illum
                            nesciunt corporis doloremque tenetur, saepe fuga odio quaerat cupiditate iure id
                            dolor. Earum ad maxime, sapiente rem odit nam!</p>
                    </div>

                    <div class="task__footer">
                        <div class="date__container">
                            <img src="./images/timetable.png" class="date__img">
                            <span class="task__date">25.10.2022</span>
                        </div>
                        <div class="task__priority high">Medium</div>
                    </div>
                </div>


                <div class="task">
                    <div class="task__header">
                        <div class="task__name">ReactJS Course</div>
                        <img src="./images/show-more-button-with-three-dots.png" alt="show more btn" class="task__smb">
                    </div>
                    <div class="task__description">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus omnis illum
                            nesciunt corporis doloremque tenetur, saepe fuga odio quaerat cupiditate iure id
                            dolor. Earum ad maxime, sapiente rem odit nam!</p>
                    </div>

                    <div class="task__footer">
                        <div class="date__container">
                            <img src="./images/timetable.png" class="date__img">
                            <span class="task__date">25.10.2022</span>
                        </div>
                        <div class="task__priority high">Medium</div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>