<div class="app">
    <div class="tasks__container">

        <div class="tasks__opened wrapper">

            <div class="tasks__section__header">
                <h2>Opened</h2>
                <span class="tsh__tasks-counter">4 tasks</span>
                <img src="./images/show-more-button-with-three-dots.png" class="tasks__section__header__smb">
            </div>

            <div class="tasks__opened__container">

                {{#each opened}}
                {{> task}}
                {{else}}
                <h2>You don`t have opened tasks. :)</h2>
                {{/each}}


            </div>
        </div>

        <div class="tasks__inprogress wrapper">

            <div class="tasks__section__header">
                <h2>In Progress</h2>
                <span class="tsh__tasks-counter">4 tasks</span>
                <img src="./images/show-more-button-with-three-dots.png" class="tasks__section__header__smb">
            </div>

            <div class="tasks__in-progress__container">

                <!-- TASKS -->
                {{#each in-progress}}
                {{> task}}
                {{/each}}

            </div>

        </div>

        <div class="tasks__closed wrapper">

            <div class="tasks__section__header">
                <h2>Closed</h2>
                <span class="tsh__tasks-counter">4 tasks</span>
                <img src="./images/show-more-button-with-three-dots.png" class="tasks__section__header__smb">
            </div>

            <div class="tasks__closed__container">

                <!-- TASKS -->
                {{#each closed}}
                {{> task}}
                {{/each}}

            </div>

        </div>

        <a href="/app/create" id="createBtn">
            Create New Task
        </a>

    </div>
</div>