html {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to top, #1061dc, #2e72e2, #4583e8, #5b94ec, #71a4f0);
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  text-align: center;
  margin-top: 100px;
}

ul li.todo {
  list-style: none;
}

li.todo p {
  display: inline;
}

.app__header {
  background-color: whitesmoke;
}

.app__header h1 {
  padding: 10px 0;
}

.app__main {
  margin: 0 auto;
  width: 400px;
  min-height: 400px;
  background-color: whitesmoke;
  border-radius: 15px;
}

.app__main .todo__input {
  padding-top: 15px;
}

.todo__input button {
  background-color: #4583e8;
  border: none;
  padding: 4px 12px;
  color: whitesmoke;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.todo__input button:hover {
  box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.75);
}

.todo__input #create-todo {
  border: solid 2px #4583e8;
}


/* LIST */
.todo__list ul {
  padding: 0 20px;
}

.todo__list ul li {
  background-color: lightskyblue;
  position: relative;
  min-height: 29.5px;
  vertical-align: middle;
  text-align: start;
  margin-top: 10px;
}

.todo .todo__isDone {
  position: absolute;
  top: 4px;
  left: 5px;
}

.todo__list ul li p {
  position: absolute;
  font-size: 18px;
  bottom: -14px;
  left: 32px;
  color: black;
}

.todo__list ul li button {
  position: absolute;
  right: 0;
  top: 0;
  color: whitesmoke;
  background-color: #71a4f0;
  font-weight: bold;
  font-size: 18px;
  border: none;
  padding: 3px 4px 2.5px 4px;
  cursor: pointer;
}

.todo__list ul li button:hover{
  color: rgb(6, 22, 163);
}

/* isCheched */

.isDone {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  border:black
}